# Bias-Variance Tradeoff - Lab

## Introduction

In this lab, you'll practice the concepts you learned in the last lesson, bias-variance tradeoff.

## Objectives

In this lab you will: 

- Demonstrate the tradeoff between bias and variance by way of fitting a machine learning model

## Let's get started!

In this lab, you'll try to predict some movie revenues based on certain factors, such as ratings and movie year. Start by running the following cell which imports all the necessary functions and the dataset:

In [5]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_excel('movie_data_detailed_with_ols.xlsx')
df.head()

,Unnamed: 0,budget,domgross,title,Response_Json,Year,imdbRating,Metascore,imdbVotes,Model
0,0,13000000,25682380,21 &amp; Over,0,2008,6.8,48,206513,4.912759e+07
1,1,45658735,13414714,Dredd 3D,0,2012,0.0,0,0,2.267265e+05
2,2,20000000,53107035,12 Years a Slave,0,2013,8.1,96,537525,1.626624e+08
3,3,61000000,75612460,2 Guns,0,2013,6.7,55,173726,7.723381e+07
4,4,40000000,95020213,42,0,2013,7.5,62,74170,4.151958e+07

Subset the `df` DataFrame to only keep the `'domgross'`, `'budget'`, `'imdbRating'`, `'Metascore'`, and `'imdbVotes'` columns.

In [6]:
# Subset the DataFrame
df.drop(['Unnamed: 0', 'title', 'Response_Json', 'Year', 'Model'], axis = 1, inplace = True)

In [7]:
df.head()

     budget  domgross  imdbRating  Metascore  imdbVotes
0  13000000  25682380         6.8         48     206513
1  45658735  13414714         0.0          0          0
2  20000000  53107035         8.1         96     537525
3  61000000  75612460         6.7         55     173726
4  40000000  95020213         7.5         62      74170

## Split the data


- First, assign the predictors to `X` and the outcome variable, `'domgross'` to `y` 
- Split the data into training and test sets. Set the seed to 42 and the `test_size` to 0.25

In [8]:
# domgross is the outcome variable
X = df.drop(['domgross'], axis = 1)
y = df['domgross']

X_train , X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [9]:
X

       budget  imdbRating  Metascore  imdbVotes
0    13000000         6.8         48     206513
1    45658735         0.0          0          0
2    20000000         8.1         96     537525
3    61000000         6.7         55     173726
4    40000000         7.5         62      74170
5   225000000         6.3         28     128766
6    92000000         5.3         28     180585
7    12000000         7.8         55     240087
8    13000000         5.7         48      30576
9   130000000         4.9         33     174365
10   40000000         7.3         90     398390
11   25000000         7.2         58      75884
12   50000000         6.2         52      76001
13   18000000         7.3         78     170986
14   55000000         7.8         83     368244
15   30000000         7.4         85     142328
16   78000000         6.4         59      75138
17   76000000         7.4         62     324664
18    5500000         6.6         66     208948
19  120000000         6.6         61     378131
20  110000000         0.0          0          0
21  100000000         6.7         52      92389
22   40000000         5.9         35      22430
23   70000000         6.7         49     198767
24   17000000         6.5         57     139940
25  160000000         0.0          0          0
26  150000000         7.5         74     483555
27  140000000         5.8         41     158210
28   60000000         6.7         40     188846
29   30000000         7.1          0          0

Use the `MinMaxScaler` to scale the training set. Remember you can fit and transform in a single method using `.fit_transform()`.

In [ ]:
# Transform with MinMaxScaler
scaler = None
X_train_scaled = None

Transform the test data (`X_test`) using the same `scaler`:

In [ ]:
# Scale the test set
X_test_scaled = None

## Fit a regression model to the training data

In [ ]:
# Your code 
linreg = None

Use the model to make predictions on both the training and test sets:

In [ ]:
# Training set predictions
lm_train_predictions = None

# Test set predictions 
lm_test_predictions = None

Plot predictions for the training set against the actual data:

In [ ]:
# Run this cell - vertical distance between the points and the line denote the errors
plt.figure(figsize=(8, 5))
plt.scatter(y_train, lm_train_predictions, label='Model')
plt.plot(y_train, y_train, label='Actual data')
plt.title('Model vs data for training set')
plt.legend();

Plot predictions for the test set against the actual data:

In [ ]:
# Run this cell - vertical distance between the points and the line denote the errors
plt.figure(figsize=(8, 5))
plt.scatter(y_test, lm_test_predictions, label='Model')
plt.plot(y_test, y_test, label='Actual data')
plt.title('Model vs data for test set')
plt.legend();

## Bias

Create a function `bias()` to calculate the bias of a model's predictions given the actual data: $Bias(\hat{f}(x)) = E[\hat{f}(x)-f(x)]$   
(The expected value can simply be taken as the mean or average value.)

In [ ]:
import numpy as np
def bias(y, y_hat):
    pass

## Variance
Create a function `variance()` to calculate the variance of a model's predictions: $Var(\hat{f}(x)) = E[\hat{f}(x)^2] - \big(E[\hat{f}(x)]\big)^2$

In [ ]:
def variance(y_hat):
    pass

## Calculate bias and variance

In [ ]:
# Bias and variance for training set 
b = None
v = None
print('Train bias: {} \nTrain variance: {}'.format(b, v))

# Train bias: -8.127906105735085e-09 
# Train variance: 3406811040986517.0

In [ ]:
# Bias and variance for test set 
b = None
v = None
print('Test bias: {} \nTest variance: {}'.format(b, v))

# Test bias: -10982393.918069275 
# Test variance: 1518678846127932.0

## Overfit a new model

Use `PolynomialFeatures` with degree 3 and transform `X_train_scaled` and `X_test_scaled`. 

**Important note:** By including this, you don't only take polynomials of single variables, but you also combine variables, eg:

$ \text{Budget} * \text{MetaScore} ^ 2 $

What you're essentially doing is taking interactions and creating polynomials at the same time! Have a look at how many columns we get using `np.shape()`!

In [ ]:
# Your code here
poly = None

X_train_poly = None
X_test_poly = None

In [ ]:
# Check the shape

Fit a regression model to the training data:

In [ ]:
# Your code here
polyreg = LinearRegression()

Use the model to make predictions on both the training and test sets:

In [ ]:
# Training set predictions
poly_train_predictions = None

# Test set predictions 
poly_test_predictions = None

Plot predictions for the training set against the actual data:

In [ ]:
# Run this cell - vertical distance between the points and the line denote the errors
plt.figure(figsize=(8, 5))
plt.scatter(y_train, poly_train_predictions, label='Model')
plt.plot(y_train, y_train, label='Actual data')
plt.title('Model vs data for training set')
plt.legend();

Plot predictions for the test set against the actual data:

In [ ]:
# Run this cell - vertical distance between the points and the line denote the errors
plt.figure(figsize=(8, 5))
plt.scatter(y_test, poly_test_predictions, label='Model')
plt.plot(y_test, y_test, label='Actual data')
plt.title('Model vs data for test set')
plt.legend();

Calculate the bias and variance for the training set:

In [ ]:
# Bias and variance for training set 
b = None 
v = None 
print('Train bias: {} \nTrain variance: {}'.format(b, v))

# Train bias: 3.5898251966996625e-07 
# Train variance: 7394168636697528.0

Calculate the bias and variance for the test set:

In [ ]:
# Bias and variance for test set 
b = None 
v = None 
print('Test bias: {} \nTest variance: {}'.format(b, v))

# Test bias: -68166032.47666144 
# Test variance: 4.798244829435879e+16

## Interpret the overfit model

In [ ]:
# Your description here

## Level Up (Optional)

In this lab we went from 4 predictors to 35 by adding polynomials and interactions, using `PolynomialFeatures`. That being said, where 35 leads to overfitting, there are probably ways to improve by adding just a few polynomials. Feel free to experiment and see how bias and variance improve!

## Summary

This lab gave you insight into how bias and variance change for a training and a test set by using both simple and complex models.